
<div id="Results">
	<div class="quote">
		<p><%= result %></p>
	</div>
</div>
<br>
<div class="generateBtn">
	<button class= "btn btn-primary"><a href="/post/results">Generate Quote</a></button>
</div>
