<div id="Home">
	<div class="homeContainer">
	<h2>Welcome! please authenticate with Facebook</h2>

		<a href="/auth/signup">Signup</a>
		<a href="/auth/login">Login</a>
		<a href="/auth/logout">Logout</a>
		<a href="post/results">Profile</a>

	<div>
		<a href="/auth/facebook" class="loginButton btn btn-success">Login With Facebook</a>
	</div>
	<div class="footer">
		<div class="left-footer">
	 	<div class="footer-item"><a href="/termsandconditions">Terms and Conditions</a></div>
		</div>
		</div>
	</div>	
</div>
