<div id="Home">
	<!-- <div class="col-xs-6 col-sm-12 col-md-12"> -->
		<div class="homeContainer ">
			<h2>Welcome To Facebook Comment Generator!</h2> 
			<br>
			<h3>Please authenticate with Facebook</h3>
			<h3>to generate a random quote</h3>

			<div>
				<a href="/auth/facebook" class="loginButton btn btn-primary">Login with Facebook</a>
			</div>
			<div class="footer">
				<div class="left-footer">
			 	<div class="footer-item"><a href="/termsandconditions">Terms and Conditions</a></div>
				</div>
				</div>
			</div>
		</div>
<!-- 	</div> -->
</div>
