body{
	margin-top: 40px;
	background-image: url('public/css/images/cover.png');
	background-size:cover;
	background-repeat: no-repeat;
}

.wrapper{
margin-top: 10px;
text-align: center;
}
.container{
height: 400px;
width: 500px;         
margin: 20px auto;
}
/******NavBar***************/

body .navbar {
	background-color: red;
}
/******Home-layout**********/
#Home {
	background-color: rgba(0,0,0,0.6);
	margin-top: 60px;
	padding-top: 30px;
	border: solid 2px black;
	height: 499px;
}
#Home a{
	font-family: 'Noticia Text', serif;
	color: white;
	font-size: 22px;
}
#Home h2{
	font-family: 'Noticia Text', serif;
	font-size: 42px;
}
#Home h3{
	font-family: 'Noticia Text', serif;
}
#Home .homeContainer{
	color: white;
	margin: 0 auto;
}
#Home .loginButton{
	font-family: 'Noticia Text', serif;
	margin-top: 125px;
	font-size: 24px;
}
/*******Alert*************/

#Alert{
	margin-top:10px;
	margin-bottom: 0px;
}

/******Results-Page*******/
#Results{
	background-color: rgba(0,0,0,0.6);
	padding-top: 40px;
	margin-top: 40px;
	border: solid 2px black;
	height: 425px;
}

#Results p{
	font-family: 'Noticia Text', serif;
	font-size: 28px;
	color:white;
}
.generateBtn a{
	font-family: 'Noticia Text', serif;
	color: white;
	font-size: 24px;
}





