html{
	height: 100%;
}
body{
	background-image: url('./images/cover.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper{
margin-top: 10px;
text-align: center;
}
.container{
position: relative;      

}
/******NavBar***************/
#Navbar .bar{
	float: left;
	font-family: 'Noticia Text', serif;
} 
/******Home-layout**********/
#Home a{
	font-family: 'Noticia Text', serif;
	color: white;
	font-size: 22px;
}
#Home h2{
	font-family: 'Noticia Text', serif;
	color:white;
	font-size: 42px;
}
#Home h3{
	font-family: 'Noticia Text', serif;
	color: white;
}
#Home .homeContainer{
	background-color: rgba(0,0,0,0.6);
	margin: 0 auto;
	margin-top: 60px;
	padding-top: 30px;
	border: solid 2px black;
	height: 90%;
}
#Home .loginButton{
	font-family: 'Noticia Text', serif;
	margin-top: 125px;
	font-size: 24px;
}
@media(max-width: 500px){
	body{
		background-image: url('./images/cover.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	#Home a{
		font-size: 18px;
	}
	#Home h2{
		font-size: 35px;
		margin-bottom: 60px; 
	}
	#Home h3{
		font-size: 20px;
	}
	#Home .homeContainer{
		background-color: rgba(0,0,0,0.7);
		margin: 0 auto;
		margin-top: 60px;
		padding-top: 30px;
		border: solid 2px black;
		width: 100%;
		height: 100%;
	}
	#Home .loginButton{
		font-family: 'Noticia Text', serif;
		margin-top: 145px;
		font-size: 16px;
	}
}
/*******Alert*************/

#Alert{
	margin-top:30px;
	margin-bottom: 0px;
}

/******Results-Page*******/
#Results{
	background-color: rgba(0,0,0,0.7);
	margin: 0 auto;
	margin-top: 60px;
	padding-top: 30px;
	border: solid 2px black;
	width: 100%;
	height: 100%;
}

#Results p{
	font-family: 'Noticia Text', serif;
	font-size: 28px;
	color:white;
}
.generateBtn a{
	font-family: 'Noticia Text', serif;
	color: white;
	font-size: 24px;
}





